.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px
  }

  .message-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  }
  
  .win-message {
    background-color: white;
    border-style: solid;
    font-family: futura;
    color: green;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lose-message {
    background-color: white;
    border-style: solid;
    font-family: futura;
    color: red;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tie-message {
    background-color: white;
    border-style: solid;
    font-family: futura;
    color: blue;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .button-container button {
    display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }

  #play-again-btn {
    font-family: futura;
    font-size: 20px;
    padding: 12px 24px;
  }
  
  .game-title {
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: futura;
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
  }

  .scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .player-score, .computer-score {
    font-size: 40px;
    margin-right: 20px;
    background-color: white;
    border: 4mm ridge rgba(0, 0, 0, 0.6)
  }
  
  .player-score {
    color: green;
  }
  
  .computer-score {
    color: red;
  }

  #reset-btn {
    font-family: futura;
    font-size: 25px;
    padding: 12px 24px;
  }

  #easy-btn, #hard-btn {
    font-family: futura;
    font-size: 35px;
    color: white;
    padding: 12px 24px;
    margin-right: 20px;
  }

  #easy-btn {
    background-color: green;
  }

  #hard-btn {
    background-color: red;
  }

  .difficulty-indicator {
    font-family: futura;
    font-size: 40px;
    margin-top: 10px;
    background-color: white;
    border: 4mm ridge rgba(0, 0, 0, 0.6)
  }

