body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    
    background: url('https://i.gyazo.com/01f3eaeba43205475153c4f951f8b920.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}