body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: url('https://i.gyazo.com/354af0225156d6896d80d3eb21b4d1b1.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}